body {
    font-family: "Roboto", "Noto Sans CJK TC Regular", "Source Han Sans TWHK", "Microsoft JhengHei", sans-serif;
}

a {
    text-decoration: none;
    position: relative;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    cursor: pointer;
    transition: opacity .35s cubic-bezier(0.4, 0, 0.2, 1);
    color: #00796b;
}

a:hover, a:active {
    opacity: 1;
}

a > * {
    vertical-align: middle;
}

code {
    background-color: #f7f7f7;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
}

code.prettyprint {
    display: block;
    padding: 10px;
    border-radius: 5px;
}